.card {
  position: fixed;
  top: 14vh;
  left: calc(50% - 15rem);
  height: 600px;
  width: 500px;
  padding: 40px;
  z-index: 100;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #fff;
}
